<a href="https://colab.research.google.com/github/cwcheng0/2019_Pixnet_hackathon/blob/master/TaoyuanAirport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
## Read from Google
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import mean_absolute_error as MAE
import gc
import matplotlib
import matplotlib.pyplot as plt
from IPython.display import display, HTML

In [0]:
# Mount personal Google Drive; all data files are in personal Google Drive
# account: My main account @ Gmail
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [0]:
# Use PDrive function
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [0]:
# List files in root directory
file_list = drive.ListFile({'q': "'root' in parents and trashed=false"}).GetList()
for file1 in file_list:
  print('title: %s, id: %s' % (file1['title'], file1['id']))

title: PixnetData, id: 1zpLvHPbjbntAGzNfhYeQKo4I5PtIXmVw
title: Pixnet整理_Mike_20190804, id: 163PlI9NvQ5wVl62z6Crp4jihVWA4nnABRnPS8tU9neY
title: Tourism, id: 1rl2L8Vxmj4mqqFNCa23NUaypbVKazJRD
title: Python, id: 1dFGhOQOJ9t5x5bJUph24v_N-mnmBKsMZ
title: LionData, id: 192h03HmhseVUECi1YL9BAH44nzOAOl99
title: Colab Notebooks, id: 13yubYLLF_3_MObjXoj-K2aGo-_UFoQZo
title: bnbdata, id: 1yWUzpFHcZDftSVqbCaepJVd9oGsm2pww

In [0]:
# read data from an existing file to see if a command is correct?
f = open("/content/gdrive/My Drive/LionData/foo.txt", "r")
print(f.read())

Hello Google Drive!

In [0]:
# Check first 10 rows in the targeted file.
# original URL: https://www.taoyuan-airport.com/chinese/revised_flight

import pandas as pd

Tdata = pd.read_csv('/content/gdrive/My Drive/PixnetData/MikeData/Taoyuan_20190825.csv')

Tdata.head(10)

  入出境      表定時間                    航空公司  ...        機型  狀態   預計/實際時間
0  出境  09:05:00              國泰航空\n國泰港龍  ...  A330-300  取消         -
1  入境  10:25:00              廈門航空\n華信航空  ...         -  取消         -
2  入境  10:25:00              廈門航空\n華信航空  ...         -  取消         -
3  入境  10:45:00                    廈門航空  ...         -  取消         -
4  出境  11:25:00              廈門航空\n華信航空  ...         -  取消         -
5  出境  11:25:00              廈門航空\n華信航空  ...         -  取消         -
6  出境  11:45:00                    廈門航空  ...         -  取消         -
7  入境  12:15:00                    馬印航空  ...  B737-900  預計  13:24:00
8  入境  12:25:00              國泰航空\n國泰港龍  ...  A330-300  預計  13:00:00
9  入境  12:30:00  中華航空\n日本航空\n馬來西亞\n達美航空  ...  B747-400  預計  13:02:00

[10 rows x 10 columns]

In [83]:
# List all airplanes if it is cancelled.

Tdata2 = Tdata[Tdata['狀態'].str.contains("取消")] 

Tdata2

  入出境      表定時間        航空公司             班機編號  ...  登機門        機型  狀態 預計/實際時間
0  出境  09:05:00  國泰航空\n國泰港龍  CX-403\nKA-5403  ...  NaN  A330-300  取消       -
1  入境  10:25:00  廈門航空\n華信航空  MF-879\nAE-5108  ...  NaN         -  取消       -
2  入境  10:25:00  廈門航空\n華信航空  MF-887\nAE-5100  ...  NaN         -  取消       -
3  入境  10:45:00        廈門航空           MF-859  ...  NaN         -  取消       -
4  出境  11:25:00  廈門航空\n華信航空  MF-880\nAE-5109  ...  NaN         -  取消       -
5  出境  11:25:00  廈門航空\n華信航空  MF-888\nAE-5101  ...  NaN         -  取消       -
6  出境  11:45:00        廈門航空           MF-860  ...  NaN         -  取消       -

[7 rows x 10 columns]

  麵包屑

  /麵包屑





  /.row

In [0]:
# Check first 5 rows in the targeted HK URL
import pandas as pd
import json
Hdata = pd.read_json('https://www.hongkongairport.com/flightinfo-rest/rest/flights?span=1&date=2019-08-25&lang=zh_HK', lines=True)

Hdata.head(10)